/*
* @Author: hukening
* @Date:   2019-12-25 21:12:53
* @Last Modified by:   hukening
* @Last Modified time: 2019-12-25 21:17:25
*/
.cate-select{
	width: 220px;
	margin-right: 20px;
	display: inline-block;
}